:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --infratp-green: #1f8b4c;
  --infratp-green-dark: #166a3a;
  --infratp-gray: #6c757d;
  --infratp-bg: #f8f9fa;
}
